# Ignore node_modules folder
node_modules/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore system or editor files
.DS_Store
Thumbs.db
.vscode/

# Ignore build or output folders
dist/
build/
output/
